<nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <div class=nav-text><%= link_to "Wikinimous", articles_path %></div>
        <div class=nav-text><%= link_to "New Article", new_article_path %></div>
      </div>
    </nav>
