body {
  font-family: Helvetica, sans-serif;
}

#text a:link {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 100, 162);
  text-decoration: none;
}
p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(37, 37, 37);
}

a {
  color: grey;
}
a:visited {
  color: rgb(0, 100, 162);
}

#new-text {
  color: black;
}

.nav-text a:link {
  text-decoration: none;
  font-size: 16px;
 }

 nav {
  border-bottom: 1px solid rgba(128, 128, 128, 0.38);
 }

 .show-text {
  border-bottom: 1px solid rgb(154, 154, 154);
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 20px;
 }

 i {
  color: rgb(0, 100, 162);
  padding-left: 20px;
  font-size: 20px;
 }
